<form action="send.php" method="POST">
    <input type="text" name="name" placeholder="Ваше имя">
    <input type="text" name="phone" placeholder="Ваш телефон">
    <input type="submit" class="btn" >
</form>
